NUXT_SESSION_PASSWORD=replace-with-at-least-32-characters-random-string
DATABASE_URL=mysql://root:password@127.0.0.1:3306/nuxt-blog
MEDIA_STORAGE_DIR=storage/media
SECURITY_HASH_SALT=
TURNSTILE_SECRET_KEY=
IP_REGION_PROVIDER=ip2region
IP_REGION_DB_V4_PATH=server/resources/ip2region/ip2region_v4.xdb
IP_REGION_DB_V6_PATH=server/resources/ip2region/ip2region_v6.xdb
